@font-face {
    font-family: 'Mortal Kombat 3';
    src: url('./assets/fonts/MortalKombat3-Regular.eot');
    src: url('./assets/fonts/MortalKombat3-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/MortalKombat3-Regular.woff2') format('woff2'),
        url('./assets/fonts/MortalKombat3-Regular.woff') format('woff'),
        url('./assets/fonts/MortalKombat3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #424542;
    margin: 0;
    padding: 0;
}

.root {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #424466;
}

.wall-left {
    position: absolute;
    width: 87px;
    background-image: url(assets/wall-left.png);
    min-height: 100vh;
    background-size: contain;
    background-repeat: repeat-y;
    top: 0;
    z-index: 100;
    left: 50%;
    transform: translate(-450px, 0px);
    height: 100%;
}

.wall-right {
    position: absolute;
    width: 87px;
    background-image: url(./assets/wall-right.png);
    min-height: 100vh;
    background-size: contain;
    background-repeat: repeat-y;
    top: 0;
    z-index: 100;
    right: 50%;
    transform: translate(450px, 0px);
    height: 100%;
}

.arenas {
    width: 786px;
    height: 578px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}

.arenas.arena1 {
    background-image: url(./assets/scorpions-lair-arenas.png);
}

.arenas.arena2 {
    background-image: url(./assets/the-cave.png);
}

.arenas.arena3 {
    background-image: url(./assets/jade-s-desert.png);
}

.arenas.arena4 {
    background-image: url(./assets/scislac-busorez.png);
}

.arenas.arena5 {
    background-image: url(./assets/waterfront.png);
}

.player1,
.player2 {
    width: 50%;
    position: relative;
}

.progressbar {
    width: 295px;
    border: 4px solid #f5d100;
    position: absolute;
    top: 59px;
    height: 28px;
    background-color: #cd0e03;
    display: flex;
}

.player1 .progressbar {
    left: 38px;
}

.player2 .progressbar {
    right: 38px;
    flex-direction: row-reverse;
}

.extralife {
    width: 90px;
    border: 2px solid #f5d100;
    position: absolute;
    top: 85px;
    height: 12px;
    background-color: #cd0e03;
    display: flex;
}

.player1 .extralife {
    left: 38px;
}

.player2 .extralife {
    right: 38px;
    flex-direction: row-reverse;
}

.extralife .life {
    background: #00d600;
}

.life {
    background-color: #0431f9;
    height: 100%;
    width: 90%;
}

.name {
    position: absolute;
    font-family: 'Mortal Kombat 3';
    font-size: 26px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #efefef;
    top: 0;
    text-transform: uppercase;
}

.player1 .name {
    left: 5px;
}

.player2 .name {
    right: 5px;
}

.chat {
    width: 786px;
    height: 30vh;
    background-image: url(./assets/versus.png);
    background-size: cover;
    background-position: center;
    border-top: 4px solid #f5d100;
    padding: 6px 40px;
    overflow: scroll;
    color: white;
    font-family: Arial;
}

.character {
    position: absolute;
    bottom: 20px;
    width: 150px;
    height: 268px;
}

.player1 .character {
    left: 60px;
}

.player2 .character {
    right: 60px;
}

.player2 .character img {
    transform: scaleX(-1) translate(50%, 0);
}

.character img {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.5s;
}

.fight {
    position: absolute;
    z-index: 100;
    top: 30%;
    width: 300px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.fight img {
    width: 100%;
}

.button {
    display: block;
    position: relative;
    padding: 0 16px;
    height: 36px;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #f5d100;
    border: none;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: "Mortal Kombat 3";
    outline: none;
}

.button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 4px;
    left: 0;
    background-color: #cd0e03;
    border-radius: 4px;
    z-index: -1;
}

.button:hover {
    background-color: #f5d100;
}

.button:active {
    top: 2px;
}

.button:active::after {
    top: 1px;
}

.button:disabled {
    opacity: .9;
    cursor: not-allowed;
}

.button:disabled:after {
    opacity: .1;
}

.button:disabled:active {
    top: 0px;
}

.button:disabled:active::after {
    top: 4px;
}

.loseTitle {
    position: absolute;
    top: 22%;
    left: 50%;
    font-size: 36px;
    transform: translate(-50%, 0%);
    text-transform: uppercase;
    z-index: 1000;
    color: white;
    font-family: "Mortal Kombat 3";
    text-shadow: 2px 2px 2px #cd0e03;
}

.reloadWrap {
    position: absolute;
    top: 54px;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, 0%);
}

.reloadWrap .button {
    margin-top: 0;
}

form:invalid button[class=button] {
    opacity: .9;
    cursor: not-allowed;
}

form:invalid button[class=button]:after {
    opacity: .1;
}

form:invalid button[class=button]:active {
    top: 0px;
}

form:invalid button[class=button]:active::after {
    top: 4px;
}

.control {
    position: absolute;
    width: 200px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
    transition: all 0.5s;
}

.controlHide {
    transform: translate(-50%, -50%) scale(0);
}

.inputWrap {
    position: relative;
    width: 280px;
    margin-bottom: 24px;
}

.buttonWrap {
    margin-top: 12px;
}

.inputWrap h2 {
    text-align: center;
    margin: 0 auto 20px;
    font-weight: 700;
    font-family: 'Mortal Kombat 3';
    color: #efefef;
    text-transform: uppercase;
}

.ul {
    border: solid 3px #cd0e03;
    height: 50px;
    padding: 0 12px;
    font-family: 'Mortal Kombat 3';
    display: flex;
    justify-content: space-between;
    color: #efefef;
}

.ul label {
    cursor: pointer;
}

.ul label:nth-of-type(2) {
    margin: 0 -4.5px;
}

.ul label span {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 50px;
    line-height: 50px;
    transition: 0.3s;
    text-align: center;
    margin-top: -3px;
}

.ul label span::before {
    position: relative;
    display: block;
    width: 80px;
    height: 50px;
    content: "";
    transform: scaleY(1.2);
    z-index: -1;
    margin-bottom: -50px;
    transition: 0.3s;
}

.ul label span:hover {
    background-color: rgba(107, 185, 240, 0.2);
}

input {
    display: none;
}

input[type=radio]:checked+label>span {
    color: #fff;
    font-weight: 700;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

input[type=radio]:checked+label>span::before {
    background: #f5d100;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

input[type=radio]:checked+label>span:hover {
    background: none;
}

.player1Hit {
    left: 320% !important;
}

.player2Hit {
    left: -230% !important;
}

.letsFight {
    position: absolute;
    top: 86px;
    left: calc(50% - 87px);
    z-index: 9;
}

/**/

body {
    background-color: #424542;
    height: 100vh;
    overflow: hidden;
}

.up {
    top: -100vh;
}

.down {
    bottom: -100vh;
}

.vs {
    background-image: url(/source/vs.png);
    background-size: cover;
}

.main,
.vs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    min-height: 100vh;
    min-width: 100vh;
    background-size: contain;
    background-position: center;
    position: absolute;
    right: 0;
    left: 0;
    background-color: #424542;
}

.title {
    position: absolute;
    font-family: "Mortal Kombat 3";
    font-size: 48px;
    color: #FFF;
    top: 10px;
    left: 50%;
    color: #efefef;
    text-shadow: 4px 2px 1px #000;
    transform: translate(-50%, 0);
    white-space: nowrap;
}

.player1Char {
    position: absolute;
    width: 210px;
    height: 367px;
    z-index: 3;
    bottom: 44px;
    left: 50%;
    margin-left: -105px;
    transform: translate(-205%, 0px);
}

.player2Char {
    position: absolute;
    width: 210px;
    height: 367px;
    z-index: 3;
    bottom: 44px;
    right: 50%;
    margin-right: -105px;
    transform: scaleX(-1) translate(-205%, 0px);
}

.player1Char img,
.player2Char img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}

.parent {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

.div4 {
    grid-area: 1 / 4 / 2 / 5;
}

.div5 {
    grid-area: 1 / 5 / 2 / 6;
}

.div6 {
    grid-area: 1 / 6 / 2 / 7;
}

.div7 {
    grid-area: 1 / 7 / 2 / 8;
}

.div8 {
    grid-area: 2 / 1 / 3 / 2;
}

.div9 {
    grid-area: 2 / 2 / 3 / 3;
}

.div10 {
    grid-area: 2 / 3 / 3 / 4;
}

.div11 {
    grid-area: 2 / 4 / 3 / 5;
}

.div12 {
    grid-area: 2 / 5 / 3 / 6;
}

.div13 {
    grid-area: 2 / 6 / 3 / 7;
}

.div14 {
    grid-area: 2 / 7 / 3 / 8;
}

.div15 {
    grid-area: 3 / 2 / 4 / 3;
}

.div16 {
    grid-area: 3 / 3 / 4 / 4;
}

.div17 {
    grid-area: 3 / 4 / 4 / 5;
}

.div18 {
    grid-area: 3 / 5 / 4 / 6;
}

.div19 {
    grid-area: 3 / 6 / 4 / 7;
}

.div20 {
    grid-area: 4 / 2 / 5 / 3;
}

.div21 {
    grid-area: 4 / 3 / 5 / 4;
}

.div22 {
    grid-area: 4 / 4 / 5 / 5;
}

.div23 {
    grid-area: 4 / 5 / 5 / 6;
}

.div24 {
    grid-area: 4 / 6 / 5 / 7;
}

.row {
    display: flex;
    position: relative;
    z-index: 1;
}

.row:hover {
    z-index: 2;
}

.characterIcon {
    height: 160px;
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.opposite:before {
    border-color: red !important
}

.characterIcon:hover:before,
.characterIcon.active:before {
    content: "";
    display: block;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    top: -2px;
    left: -2px;
    position: absolute;
    border: 14px solid #21aa21;
    z-index: 1;
}

.characterIcon.disabled {
    cursor: default;
}

.characterIcon.disabled:hover:before {
    display: none;
}

.characterIcon img {
    height: 160px;
    padding: 5px;
}

.vs>img {
    width: 40%;
    position: absolute;
    bottom: 0;
}

.player1Vs {
    left: 0;
}

.player2Vs {
    right: 0;
    transform: scaleX(-1)
}

.vs-animation {
    position: absolute;
    top: 200px;
    left: calc(50% - 100px);
}

.vs-animation>img {
    width: 200px;
}